---
layout: layouts/base.njk
---

{# Añadimos una clase específica para el contenido de la home #}
<div class="home-content-wrapper">
  {{ content | safe }} {# Aquí se insertará el contenido de index.md #}
</div>